<div class="col-10 offset-1 about">
  <h1>About Knowledge up!</h1>
  <p>
      Knowledgeup is an app that tries to expand its users knowledge. the philosphy behind this app is to push people to learn one new thing everyday and share that thing with others. we also call it a win-win app!. that means you use your potential and form a habit of learning and sharing that learning to others, which strengthens one's understanding of that particular topic. on the other hand you get to see and read the works of other users. this is an app that doesn't waste your time. keep this app and try to open it each day. the topics in the app will motivate you to take part and share your words. other good thing about this app is that it doesnt contain long articles, we tried to keep it short in order to make it more fun to read and easy to take part. after all we know, who has so much time!? </p>
    <div class="row">
      <div class="col-12 col-sm-4">
        <%= image_tag 'm.jpg', class: 'img-fluid' %>
        </div>
        <div class="col-12 col-sm-7 offset-sm-1">
          <h2 class=text-center"> Mehdi Aslamy</h2>
          <br />
          <p> Mehdi Aslamy is a business graduate with an interest in software engineering. He enjoys building useful webapps and wants to be professional web developer.</p>
        </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
